fastapi
uvicorn[standard]
SQLAlchemy>=2.0
pydantic>=2.0
python-dotenv
pymysql
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
cryptography
python-multipart
python-jose[cryptography]

# Testing
pytest
pytest-cov
httpx